{% extends 'main/main_template.html' %}
{% load bootstrap4 %}
{% block content %}
	<div>
        <h1>{{ test.name }}</h1>
        <p>{{ question.description }}</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            {% bootstrap_button 'Сохранить' button_type='submit' button_class='btn-success'%}
        </form>
        {% if question.order != 1 %}
            <a class="btn btn-warning" href="/test/{{ test.id }}/{{ question.order|add:'-1' }}">Назад</a>
        {% endif %}
    </div>
{% endblock %}